:root{
    --primary: #a283b5;
    --secondary: #96b583;
    --tertiary: #dae5d3;
}

*{
    font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
}

header{
    position: relative;
    background-color: var(--primary);
    width: 100vw;
    height: 10vh;
    margin-left: -8px;
    margin-top: -21px;
    text-indent: 7px;
    text-align: center;
    line-height: 60px;
}

body{
    background-color: white;
    color: white;
    line-height: 40%;
}

.managerContainer{
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.memberContainer{
    display: flex;
    flex-direction: row;
}

.memberHeader{
    background-color: var(--secondary);
    color:black;
    border-radius: 15px 15px 0px 0px;
    padding: 5px;
    box-shadow: 2px 3px 10px 1px var(--secondary);
    text-align: center;
    margin: 0px;
}

.memberInfo{
    background-color: var(--tertiary);
    color:black;
    border-radius: 0px 0px 15px 15px;
    padding: 10px;
    border: 1px solid #a6b1a0;
    box-shadow: 2px 3px 10px 1px var(--secondary);
}

.member{
    margin: 15px;
}

.divContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}