*{
    font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
}

header{
    background-color: rgb(163, 51, 51);
    width: 100%;
    height: 70px;
}

body{
    background-color: rgb(80, 96, 104);
    color: antiquewhite;
}